.app {
    text-align: center;
}

.constraint-form {
    text-align: left;
    margin-left: 40%;
}

.constraint-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.diet-selector {
    margin-top: 1rem;
}

.generate-plan-button {
    margin-top: 1rem;
    margin-left: 6rem;
}

.plan {
    margin-top: 4rem;
}
